<!-- ========== Start Navbar for internal Game Page ========== -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ game.website }}" target="_blank"
          >Website</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ game.metacritic_url }}" target="_blank"
          >Metacritic</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ game.reddit_url }}" target="_blank"
          >Reddit</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- ========== End Navbar for internal Game Page ========== -->

<div class="container-fluid p-0">
  <div class="container-fluid p-0">
    <div class="row no-gutters" style="min-height: 80vh">
      <div
        class="col-12 position-relative"
        [ngStyle]="{
          'background-image':
            'linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)), url(' +
            game.background_image +
            ')',
        }"
        style="
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
          transition: background-image 0.5s;
        "
      >
        <div class="d-flex align-items-center justify-content-start h-100">
          <div class="col-xl-3 col-lg-4 col-md-6 card p-5 card-gradient">
            <div class="card-body">
              <h5 class="card-title h1 text-dark">{{ game.name }}</h5>
              <div
                class="card-text lead text-dark text-wrap"
                [innerHTML]="shortDescription"
              ></div>
              <p class="card-text text-dark h4">
                Released: {{ game.released }}
              </p>
              <p class="card-text text-dark h5">Rating: {{ game.rating }}</p>
              <p class="card-text text-dark">
                Website:
                <a href="{{ game.website }}" target="_blank">{{
                  game.website
                }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="p-5">
    <div class="row">
      @if (ratings.length > 0) {
        <div class="col-6">
          <h1><span class="text-warning text-center">Ratings</span></h1>
          <app-bar-h
            [data]="ratings"
            xLabel="Counts"
            yLabel="Categories"
          ></app-bar-h>
        </div>
      }
      @if (platforms.length > 0) {
        <div class="col-6">
          <h1><span class="text-warning text-center">Platforms</span></h1>
          <div class="row">
            <div
              *ngFor="let platform of platforms; trackBy: trackByFn"
              class="col-3 bg-secondary card p-2 m-2 text-light"
            >
              <div class="card-body">
                <h5 class="card-title">{{ platform.platform.name }}</h5>
                <p class="card-text">{{ platform.released_at }}</p>
                @if (platform.requirements.minimum) {
                  <button
                    class="btn btn-warning btn-lg"
                    data-toggle="modal"
                    [attr.data-target]="'#' + platform.platform.slug"
                  >
                    <i class="bi bi-laptop"></i>
                  </button>
                  <app-modal
                    [id]="platform.platform.slug"
                    [title]="platform.platform.name"
                    [data]="platform.requirements.minimum"
                  ></app-modal>
                }
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>

  <section class="p-2 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Game <span class="text-warning">Screenshots</span></h1>
        <div class="lead p-4">
          <div class="row">
            @for (screenshot of screenshots; track $index) {
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <img
                  (click)="showModal(screenshots, $index)"
                  class="img-fluid rounded pointer"
                  src="{{ screenshot.image }}"
                  alt=""
                />
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-2 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="align-items-center justify-content-between">
      <div>
        <h1>Game <span class="text-warning">Achivements</span></h1>
        <div class="lead p-4">
          <div class="row">
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                      <div class="col-sm-12">
                        <table
                          class="table table-bordered dataTable"
                          id="dataTable"
                          width="100%"
                          cellspacing="0"
                          role="grid"
                          aria-describedby="dataTable_info"
                          style="width: 100%"
                        >
                          <thead>
                            <tr role="row">
                              <th
                                class="sorting sorting_asc"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-sort="ascending"
                                aria-label="Name: activate to sort column descending"
                                style="width: 271px"
                              >
                                Name
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Position: activate to sort column ascending"
                                style="width: 404px"
                              >
                                Position
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Office: activate to sort column ascending"
                                style="width: 199px"
                              >
                                Office
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Age: activate to sort column ascending"
                                style="width: 101px"
                              >
                                Age
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Start date: activate to sort column ascending"
                                style="width: 189px"
                              >
                                Start date
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Salary: activate to sort column ascending"
                                style="width: 171px"
                              >
                                Salary
                              </th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">Name</th>
                              <th rowspan="1" colspan="1">Position</th>
                              <th rowspan="1" colspan="1">Office</th>
                              <th rowspan="1" colspan="1">Age</th>
                              <th rowspan="1" colspan="1">Start date</th>
                              <th rowspan="1" colspan="1">Salary</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr class="odd">
                              <td class="sorting_1">Airi Satou</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>33</td>
                              <td>2008/11/28</td>
                              <td>$162,700</td>
                            </tr>
                            <tr class="even">
                              <td class="sorting_1">Angelica Ramos</td>
                              <td>Chief Executive Officer (CEO)</td>
                              <td>London</td>
                              <td>47</td>
                              <td>2009/10/09</td>
                              <td>$1,200,000</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div
                          class="dataTables_info"
                          id="dataTable_info"
                          role="status"
                          aria-live="polite"
                        >
                          Showing 1 to 10 of 57 entries
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div
                          class="dataTables_paginate paging_simple_numbers"
                          id="dataTable_paginate"
                        >
                          <ul class="pagination">
                            <li
                              class="paginate_button page-item previous disabled"
                              id="dataTable_previous"
                            >
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="0"
                                tabindex="0"
                                class="page-link"
                                >Previous</a
                              >
                            </li>
                            <li class="paginate_button page-item active">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="1"
                                tabindex="0"
                                class="page-link"
                                >1</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="2"
                                tabindex="0"
                                class="page-link"
                                >2</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="3"
                                tabindex="0"
                                class="page-link"
                                >3</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="4"
                                tabindex="0"
                                class="page-link"
                                >4</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="5"
                                tabindex="0"
                                class="page-link"
                                >5</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="6"
                                tabindex="0"
                                class="page-link"
                                >6</a
                              >
                            </li>
                            <li
                              class="paginate_button page-item next"
                              id="dataTable_next"
                            >
                              <a
                                href="#"
                                aria-controls="dataTable"
                                data-dt-idx="7"
                                tabindex="0"
                                class="page-link"
                                >Next</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



