<section class="bg-dark">
  <h1 class="small-font p-3 text-light">{{ title }}</h1>
  <div
    id="continuousCarousel"
    data-ride="carousel"
    data-interval="false"
    class="carousel slide"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex">
          @for (game of games; track game.id) {
            <div class="col-2">
              <a [routerLink]="['game', game.id]">
                <div class="aspect-ratio-container container-hover">
                  <img
                    [src]="game.safeImageUrl"
                    class="d-block w-100"
                    alt="{{ game.name }}"
                  />
                  <div class="game-name absolute-bottom full-width padding-2px">
                    <p class="text-center">{{ game.name }}</p>
                  </div>
                </div>
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
