<section>
    <div class="row">
        @for (game of games; track $index) {
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5>{{ game.name }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="{{ game.background_image }}" class="card-img-top" alt="{{ game.name }}">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        }
    </div>

</section>
