.carousel-item {
  height: 100vh;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.top-right {
  top: 20px;
  right: 5px;
  transform: translateY(-50%);
}
