.carousel-item {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 5px;
}

.carousel-bs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.carousel-bs .badge {
  font-size: 1.5rem;
}
