.carousel-item {
  height: 100vh; /* Set height to 50% of viewport height */
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Scale the image to cover the container */
  object-position: center 10%; /* Center the image */
}